{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-declaration-use-variable",
    "stylelint-value-no-unknown-custom-properties",
    "stylelint-order"
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "order/properties-alphabetical-order": true,
    "block-no-empty": null,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "csstools/value-no-unknown-custom-properties": false,
    "selector-no-qualifying-type": true,
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-brackets-space-inside": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": true,
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "function-url-quotes": "never",
    "font-family-name-quotes": "always-unless-keyword",
    "comment-whitespace-inside": "always",
    "comment-empty-line-before": "always",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "include",
          "mixin",
          "extend",
          "function",
          "if",
          "for",
          "else",
          "warn",
          "error",
          "return",
          "each"
        ]
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "rule-empty-line-before": [
      "always-multi-line",
      { "except": ["after-single-line-comment", "first-nested"] }
    ],
    "selector-pseudo-element-colon-notation": "single",
    "selector-pseudo-class-parentheses-space-inside": "always",
    "selector-no-vendor-prefix": true,
    "sh-waqar/declaration-use-variable": "color",
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always"
  }
}
