$bg: rebeccapurple;

:root {
  --color-bg: rebeccapurple;
}

body {
  --color-bg: green;
  background: var(--color-bg);
}

.text * {
  color: $bg;
}

@import 'sprites';

.icon {
  width: 100px;
  height: 125px;

  use {
    fill: currentColor;
  }

  path {
    fill: inherit;
  }

  &--outline {
    use {
      fill: none;
      stroke: currentColor;
    }
  }
}
