$font-path: "../assets/fonts/";
$main-font: "Source Sans Pro", Arial, Helvetica, sans-serif;

$colors: (
  brand: hsl(212, 70%, 27%),
  brand-alternative: hsl(209, 88%, 32%),
  secondary: hsl(24, 12%, 45%),
  grey: hsl(0, 0%, 40%),
  black: hsl(0, 0%, 0%),
  background: hsl(0, 0%, 100%)
);

// breakpoint definitions for ( use: @include media("<=desktop") )
$breakpoints: (
  huge: 1900px,
  desktop: 1400px,
  content: 1024px,
  tablet: 768px,
  phone: 420px,
  mini: 360px
);

$grid-break-all: "phone"; // cols break to 100% when viewport is < this
$grid-cols: 12;
$grid-gap: 1rem;

$base-timing: 0.2s;

$lazy-blur: 10px;
$lazy-time: 1s;
$lazy-init-scale: 0.9;

// order of layers for z-index assignment ( use: z("site-footer") )
$z-indexes: (
  "modal",
  "photoswipe",
  "menu",
  "site-header",
  "site-footer",
  "plyr"
);
