{% extends "layouts::common.twig" %}

{% block title %}
  hello
  <img src="../assets/logo.svg" />
  {% set vars = {'foo': 'bar'} %}
  <h2>{% include 'components::greeting.twig' with vars %}</h2>
{% endblock %}
