
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<h1>{{heading}}</h1>      
<p>{{title}}</p>

{% extends "layouts::common.twig" %}
{% block title %}
  hello
  {% set vars = {'foo': 'bar'} %}
  <h2>{% include 'components::greeting.twig' with vars %}</h2>
{% endblock %}


</body>
</html>