{% set component = 'button' %}
{% extends 'functions::component.twig' %}

{% if not link %}
    {% set link = '#' %}
{% endif %}

{% block component  %}
    <a class="{{ class }}" href="{{ link }}">
        {{ text }}
    </a>
{% endblock %}
