<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials::head/meta.twig' %}

  <!-- Set the document's title -->
  <title>{{pageTemplate}}</title>

  <!-- Set the base URL for all relative URLs within the document -->
  <base href="">
  
</head>
<body>
