<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  Set the character encoding for this document, so that
  all characters within the UTF-8 space (such as emoji)
  are rendered correctly.
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    The above 2 meta tags *must* come first in the <head>
    to consistently ensure proper document rendering.
    Any other head element should come *after* these tags.
  -->

  <!-- Set the document's title -->
  <title>{{pageTemplate}}</title>

  <!-- Set the base URL for all relative URLs within the document -->
  <base href="https://example.com/page.html">

  <title>{{pageTemplate}}</title>
  {% include 'partials::head/meta.twig' %}
</head>
<body>
