// typo3 specific styling

.frame {
  // reset typo3 frame-spac
  &[class*="frame-space"],
  &[class*="frame-space"] {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.frame-space {
  &-before {
    &-extra-small {
      padding-top: 0.3rem;
    }

    &-small {
      padding-top: 2rem;
    }

    &-medium {
      padding-top: 3rem;
    }

    &-large {
      padding-top: 4rem;
    }

    &-extra-large {
      padding-top: 5rem;
    }
  }

  &-after {
    &-extra-small {
      padding-bottom: 0.3rem;
    }

    &-small {
      padding-bottom: 2rem;
    }

    &-medium {
      padding-bottom: 3rem;
    }

    &-large {
      padding-bottom: 4rem;
    }

    &-extra-large {
      padding-bottom: 5rem;
    }
  }
}
