/* stylelint-disable */
button {
  &:hover {
  }
  &:active {
  }
  &:focus {
  }
}
form {
  --color-form: var(--color-brand-alternative);

  fieldset {
    legend {
    }
  }
  input {
    color: var(--color-form);
    border: 0.5rem solid var(--color-form);
    width: 100%;
    max-width: 350px;
    display: block;
    height: 4rem;
    padding: 1rem;
    z-index: 1;
    margin-top: 3rem;

    &:focus {
      box-shadow: none;
    }
  }
  input + label[for] {
    margin-top: -4rem;
    position: relative;
    max-width: 350px;
    display: block;
    height: 4rem;
    padding: 1rem;
    color: var(--color-background);
    line-height: 2rem;
    padding: 1rem 1.5rem;
    cursor: text;
    pointer-events: none;
    transition: $base-timing;
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: $base-timing;
      background: var(--color-form);
      z-index: -1;
    }
  }

  input:focus + label[for] {
    cursor: default;
    pointer-events: none;
    transform: translateY(-50%);
    line-height: 1.5rem;
    font-size: 0.8em;
    padding: 0.5rem 1.5rem;

    &:before {
      transform: translateY(-1rem) scaleY(0.5);
    }
  }

  input {
    &[type="search"] {
    }
    &[type="text"] {
    }
    &[type="email"] {
    }
    &[type="url"] {
    }
    &[type="tel"] {
    }
    &[type="number"] {
    }
    &[type="color"] {
      padding: 0;
    }
    &[type="color" i] {
      border: none;
      & + label[for] {
        &:before {
          width: 80%;
          left: 20%;
        }
      }
    }
    &[type="date"] {
    }
    &[type="date-time"] {
    }
    &[type="time"] {
    }
    &[type="week"] {
    }
    &[type="month"] {
    }
    &[type="password"] {
    }
    &[type="checkbox"] {
    }
    &[type="radio"] {
    }
  }
  textarea {
  }
  select {
    option {
    }
  }
}
